# Ignore node_modules
client/node_modules/
server/node_modules/

# Ignore build output
client/dist/
server/dist/

# Ignore environment variables
client/.env
server/.env

# Ignore Next.js build files
client/.next/
